<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Blog.statuses.map { |k, v| [k, k] } %>
  </div>

  <div>
    <%= hidden_field_tag "blog[category_ids][]", nil %> <!-- This is a workaround for updating the blog to one without a category -->
    <% Category.all.each do |category| %>
      <% checked = blog.category_ids.include?(category.id) %>
      <%= check_box_tag "blog[category_ids][]", category.id, checked, id: "category_#{category.id}" %>
      <%= label_tag "category_#{category.id}", category.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
