<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>

<% if @blog.categories.any? %>
  <p>
    <strong>Categories:</strong>
    <% @blog.categories.each do |category| %>
      <br>
      <%= category.name %>
    <% end %>
  </p>
<% else %>
  <p><strong>Please add some categories to this blog</strong></p>
<% end %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
