<tr>
  <td><%= @image.filename %></td>
  <td><%= @image.imageable_type %></td>
  <td><%= @image.imageable_id %></td>
  <td><%= link_to 'Show', @image %></td>
  <td><%= link_to 'Edit', edit_image_path(@image) %></td>
  <td><%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
